.Details{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
    max-height: 1200rem;
    width: 750rem;
    padding-bottom: 120rem;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
}

.Title{
    font-weight: bold;
    font-size: 28rem;
    margin: 0;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 30rem 30rem;
}

.Clear{
    color: #aaa;
    font-size: 24rem;
}

.Clear span{
    margin-left: 10rem;
}

.MealsList{
    overflow: auto;
}